<!DOCTYPE html>
<html>
<head>
	<title>EventeX</title>
	<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}css/styles.css' rel='stylesheet' type='text/css'>
</head>
<body>
<section id="wrapper">
	<header>
		<h1 class="logo"><a href="/">EventeX</a></h1>
		<h2 class="slogan">Bem-vindo ao EventeX!</h2>
	</header>
	<section id="body">
		{% block content %}
		{% endblock content %}
	</section>
	<footer>
		<p>&copy; 2012 <a href="/">EventeX</a>. Todos os direitos reservados. Orgulhosamente feito com <a href="https://www.djangoproject.com/" alt="Django Project" title="Django Project">Django</a>.</p>
		<a href="http://www.w3.org/html/logo/">
		<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
		</a>
	</footer>
</section>
</body>
</html>